<br>
<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @pin.image %>
			<p>
			  <br><%= @pin.description %>
			</p>
			<p>
			 by <%= @pin.user.username %>
			</p>
			
			<div  id="likeform">
				<%= render :partial => "likeform" %><div class="fb-share-button" data-href="http://www.oinkbay.com/pins/<%= @pin.id %>" data-width="75" data-type="button_count"></div>
			</div>
			<h4>Say Something</h4>
			<%= form_for :comment, url: comments_path do |f| %>
			  <p>
				<%= f.text_field :body %>
				<%= f.hidden_field :pin_id, :value => @pin.id %>
			  </p>
			  <p>
				 <%= f.submit "Some Pig!", class: "btn btn-primary btn-custom" %>
			  </p>
			<% end %>
			<hr/>
			<h4>Comments</h4>
			<% for comment in @pin.comments %>
				<p><%= User.find(comment.user_id).username %> said: <%= comment.body %></p> 
			<% end %>
			<hr/>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> | <%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %> |
			<% end %>
			<%= link_to 'Back', pins_path %>
		</div>
	</div>
</div>